.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: Arial, sans-serif;
  position: relative;
}

/* Chat bubble */
.chat-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.chat-bubble.open {
  display: none;
}

.bubble-icon {
  font-size: 24px;
}


/* General styles */
.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px; /* Increase the width */
  max-height: 600px; /* Increase the height */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-message {
  margin-bottom: 10px;
}

.user-message {
  text-align: right;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
}

.bot-response {
  text-align: left;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
}

.options {
  display: flex;
  flex-direction: column;
}

.option-button {
  margin-top: 5px;
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.option-button:hover {
  background-color: #0056b3;
}

.chat-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: white;
}

.chat-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.photo-preview {
  max-width: 100%;
  max-height: 100px; /* Adjust the max-height for better visibility */
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-submit {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.chat-submit:hover {
  background-color: #0056b3;
}

.end-session-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.end-session-btn:hover {
  background-color: #c82333;
}
